body {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

.banner__container.image__flat {
  height: 500px;
}

/* Sesion */

.session__container{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: color .25s ease-in-out;
}

.session__container:hover{
  color: #FFDB58;
}
